<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header('Checkout')"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<form th:action="@{/pay}" th:method="POST">
    <h6 class="text-red-600 text-lg font-bold text-center" th:hidden="${error == null}" th:text="${error}"></h6>

    <div class="grid md:grid-cols-7 ">
        <div class="p-2 md:pt-10 border-r-4 border-solid border-teal-100 md:col-start-1 md:col-end-3">
            <div>
                <h1 class="py-6 px-2 text-3xl font-bold font-mono text-teal-800">Order Summary</h1>
                <p class="font-bold px-2 text-lg">Order total: £<span id="order-total"
                        th:text="${shoppingCart.GrandTotal < 50.00} ? ${#numbers.formatDecimal(shoppingCart.GrandTotal, 1, 2)}: ${#numbers.formatDecimal(shoppingCart.discount, 1, 2)}"></span>
                </p>
                <p class="font-semibold pl-20 text-sm">+ tax: £<span id="tax"
                        th:text="${shoppingCart.GrandTotal < 50.00} ? ${#numbers.formatDecimal(shoppingCart.GrandTotal * 0.1, 1, 2)}: ${#numbers.formatDecimal(shoppingCart.discount * 0.1, 1, 2)}"></span>
                </p>
                <p class="font-semibold pl-20 text-sm">+ shipping: £<span id="shipping-price"
                        th:text="${#numbers.formatDecimal(10, 1, 2)}"></span>
                </p>
                <p class="font-bold px-2 text-lg">Grand total: £<span id="grand-total"
                        th:text="${shoppingCart.GrandTotal < 50.00} ? ${#numbers.formatDecimal(shoppingCart.GrandTotal+ shoppingCart.GrandTotal * 0.1 + 10.00, 1, 2)}: ${#numbers.formatDecimal(shoppingCart.discount + shoppingCart.discount * 0.1 + 10.00, 1, 2)}"></span>
                </p>
            </div>
            <div id="check-out" class="flex justify-around my-4">
                <button type="submit" class="text-white bg-blue-700 hover:bg-teal-500
            focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-full">
                    Place Order
                </button>
            </div>
            <div>
                <p class="p-3 text-sm border-t-2 border-t-teal-500 border-b-2 border-b-teal-500">
                    By submitting your order, you agree to the terms of service of the Tree-House garden online shop.
                </p>
            </div>
        </div>
        <div class="md:col-start-3 md:col-end-8 row-start-1">
            <details class="w-full">
                <summary class="p-4 bg-teal-200 mt-2 text-xl font-bold rounded-lg cursor-pointer">Items Summary</summary>
                <div class="flex flex-col mt-4">
                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="overflow-hidden">
                                <table class="min-w-full">
                                    <thead class="bg-white border-b">
                                    <tr>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            #
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Name
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Category
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Price(£)
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            In-stock
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Shipping prodweight(kg)
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Qty
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Subtotal(£)
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="item: ${cartItemList}"
                                        th:class="${itemStat.odd}? 'bg-gray-100 border-b' : 'bg-white border-b'">
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><p
                                                class="block text-teal-900"><span th:text="${itemStat.count}"></span>
                                        </p></td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><a
                                                class="block hover:text-teal-500 text-teal-900 cursor-pointer"
                                                th:href="@{/productDetail(id=${item.product.id})}"><span
                                                th:text="${item.product.name}"></span></a></td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><p
                                                class="block text-teal-900"><span
                                                th:text="${item.product.category}"></span></p></td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><p
                                                class="block text-teal-900"><span
                                                th:text="${#numbers.formatDecimal(item.product.price, 1, 2)}"></span></p></td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><p
                                                class="block text-teal-900"><span
                                                th:text="${item.product.inStockNumber}"></span></p></td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><p
                                                class="block text-teal-900"><span
                                                th:text="${item.product.shippingWeight}"></span></p></td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><p
                                                class="block text-teal-900"><span th:text="${item.qty}"></span></p></td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><p
                                                class="block text-teal-900"><span th:text="${item.subtotal}"></span></p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </details>
            <details class="w-full">
                <summary class="p-4 bg-teal-200 mt-2 text-xl font-bold rounded-lg cursor-pointer">Shipping Address</summary>
                <div class="flex">
                    <div class="mt-3 ml-3">
                        <div class="form-check" th:each="address: ${userShippingList}">
                            <input class="radio form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600
								checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2
								cursor-pointer" type="radio" name="shippingAddress" th:id="radio + ${address.id}"
                                   th:checked="${address.userShippingDefault}">
                            <label class="form-check-label inline-block text-gray-800" th:for="radio + ${address.id}"
                                   th:text="${address.userShippingName}"></label>
                        </div>

                    </div>
                </div>
                <div th:object="${shippingAddress}" class="py-4 px-6 lg:px-10">
                    <div class="flex justify-left">
                        <div class="mb-6 xl:w-96">
                            <label for="userShippingCountry" class="block text-lg text-gray-500">Shipping Country</label>
                            <select th:field="*{shippingAddressCountry}" id="userShippingCountry" class=" block
                            w-full
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
      focus:text-gray-700 focus:bg-white focus:border-gray-600 focus:outline-none" aria-label="Default select example">
                                <option th:selected="(*{shippingAddressCountry}=='UK')" selected value="UK">UK</option>
                                <option th:selected="(*{shippingAddressCountry}=='US')" value="US">US</option>
                                <option th:selected="(*{shippingAddressCountry}=='Nigeria')" value="Nigeria">Nigeria
                                </option>
                                <option th:selected="(*{shippingAddressCountry}=='Ghana')" value="Ghana">Ghana</option>
                                <option th:selected="(*{shippingAddressCountry}=='France')" value="France">France
                                </option>
                                <option th:selected="(*{shippingAddressCountry}=='Germany')" value="Germany">Germany
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-6">
                        <label for="userShippingState" class="block text-lg text-gray-500">State</label>
                        <input type="text" id="userShippingState"
                               class="form-control block
                            w-full
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               th:field="*{shippingAddressState}" placeholder="State">
                    </div>

                    <div class="form-group mb-6">
                        <label for="userShippingCity" class="block text-lg text-gray-500">City</label>
                        <input type="text" step="any" id="userShippingCity"
                               class="form-control block
                            w-full
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               th:field="*{shippingAddressCity}" placeholder="City">
                    </div>

                    <div class="form-group mb-6">
                        <label for="userShippingStreet" class="block text-lg text-gray-500">Street</label>
                        <input type="text" step="any" id="userShippingStreet"
                               class="form-control block
                            w-full
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               th:field="*{shippingAddressStreet}"
                               placeholder="Street">
                    </div>


                    <div class="form-group mb-6">
                        <label for="userShippingPostcode" class="block text-lg text-gray-500">Postal Code</label>
                        <input type="text" step="any" id="userShippingPostcode"
                               class="form-control block
                            w-full
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               th:field="*{shippingAddressPostcode}"
                               placeholder="Postal Code">
                    </div>

                </div>
            </details>
            <details class="w-full">
                <summary class="p-4 bg-teal-200 mt-2 text-xl font-bold rounded-lg">Payment</summary>

                <div th:object="${payment}" class="py-4 px-6 lg:px-10">
                    <div class="flex justify-left">
                        <div class="mb-6 xl:w-96">
                            <label for="type" class="block text-lg text-gray-500">Card Type</label>
                            <select th:field="*{type}" id="type" class=" block
                            w-full
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
      focus:text-gray-700 focus:bg-white focus:border-gray-600 focus:outline-none" aria-label="Default select example">
                                <option th:selected="(*{type}=='Master Card')" selected value="Master Card">Master Card</option>
                                <option th:selected="(*{type}=='Visa')" value="Visa">Visa</option>
                                <option th:selected="(*{type}=='Verve')" value="Verve">Verve</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-6">
                        <label for="cardNumber" class="block text-lg text-gray-500">Card Number</label>
                        <input type="text" id="cardNumber"
                               class="form-control block appearance-none
                            w-full
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               th:field="*{cardNumber}" placeholder="Card Number">
                    </div>

                    <div class="form-group mb-6">
                        <label for="cvc" class="block text-lg text-gray-500">cvc</label>
                        <input type="number" step="any" id="cvc"
                               class="form-control block appearance-none
                            w-full
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               th:field="*{cvc}" placeholder="cvc">
                    </div>

                    <div class="form-group mb-6">
                        <label for="expiryMonth" class="block text-lg text-gray-500">Expiry Date</label>
                        <div class="flex">
                            <input type="number" id="expiryMonth"
                                   class="form-control block appearance-none
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                   th:field="*{expiryMonth}"
                                   placeholder="Expiry Month">
                            <span class="text-3xl text-teal-700"> / </span>
                            <input type="number" step="any" id="expiryYear"
                                   class="form-control block appearance-none
                            px-3
                            py-1.5
                            text-base
                            font-normal
                            text-gray-700
                            bg-white bg-clip-padding
                            border border-solid border-gray-300
                            rounded
                            transition
                            ease-in-out
                            m-0
                            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                   th:field="*{expiryYear}"
                                   placeholder="Expiry Year">
                        </div>

                    </div>
                </div>
            </details>
            <div class="flex">
                <div class="mt-3 ml-3">
                    <div class="form-check">
                        <input class="s-radio form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600
								checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2
								cursor-pointer" type="radio" name="shipMethod" id="ground-shipping"  value="Ground" checked>
                        <label class="form-check-label inline-block text-gray-800" for="ground-shipping">Ground Shipping</label>
                    </div>

                    <div class="form-check">
                        <input class="s-radio form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600
								checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2
								cursor-pointer" type="radio" name="shipMethod" id="air-shipping" value="Air">
                        <label class="form-check-label inline-block text-gray-800" for="air-shipping">Air Shipping</label>
                    </div>

                    <input class="hidden" type="text" name="shippingMethod" id="shipMethod">

                </div>
            </div>

        </div>
    </div>
</form>


<div th:replace="common/header :: footer"></div>

<script th:inline="javascript">
    let csrfHeaderName = /*[[${_csrf.headerName}]]*/ "csrf_header";
    let csrfValue = /*[[${_csrf.token}]]*/ "csrf_value";
</script>
<div th:replace="common/header :: body-bottom-scripts"></div>
<script th:src="@{/js/checkout.js}"></script>
</body>
</html>
