<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/loginHead :: common-header('Login')"></head>
<body class="h-screen">
<div th:replace="common/loginHead :: navbar"></div>

<div class="mx-auto h-full flex justify-center items-center text-green-700 px-4">
    <div class="md:w-1/2 shadow-xl rounded-2xl border bg-green-100 w-full">
        <h1 class="text-center font-medium text-2xl text-white rounded-t-2xl bg-green-500 py-4">Sign In</h1>

<!--        Login form-->
        <form th:action="@{/login}" th:method="POST" class="border-teal p-4 border-t-12 bg-white mb-6">
            <div th:if="${param.error}" class="text-center pb-4 text-red-600 font-bold">
                <h6 class="text-grey-dark text-sm">
                    Invalid User Credentials.
                </h6>
            </div>
            <div class="mb-4">
                <label for="username" class="font-bold text-lg block mb-2">Email</label>
                <input id="username" type="text" th:name="username" autocomplete="off"
                       class="block w-full rounded p-2 rounded shadow border focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent"
                       placeholder="Your Username">
            </div>

            <div class="mb-4">
                <label for="password" class="font-bold text-lg block mb-2">Password</label>
                <input id="password" type="password" th:name="password" autocomplete="off"
                       class="block w-full rounded p-2 rounded shadow border focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent"
                       placeholder="Your Password">
                <p class="text-grey-dark text-sm text-right">
                    <a th:href="@{/forgotPassword}" class="no-underline text-green-500 font-bold">Forgot password</a>.
                </p>

            </div>
            <div class="flex items-center justify-between">
                <input class="bg-green-500 text-white text-lg font-medium p-2 rounded inline-block w-full hover:bg-green-400 transition duration-400 hover:shadow-lg"
                       type="submit" value="Login">
            </div>

        </form>
        <div class="text-center pb-4">
            <p class="text-grey-dark text-sm">
                Don't have an account? <a th:href="@{/signup}" class="no-underline text-green-500 font-bold">Create an Account</a>.
            </p>
        </div>
    </div>
</div>


</body>
</html>