<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/header :: common-header"></head>

<body class="h-screen">
<div th:replace="common/header :: navbar"></div>

<div class="pt-3 px-10" th:object="${product}">
    <div class="grid md:grid-cols-2 shadow-lg shadow-teal-400 p-4 rounded-lg border-4 border-solid gap-3">
        <div class=" bg-white rounded-lg border border-teal-200 shadow-md border-solid border-4 h-fit">
            <img class="object-cover rounded w-full  lg:h-96" th:src="@{*{imageUrl}}" th:alt="(*{name} + ' image')"/>
        </div>

        <div class="grid-rows-2 justify-between h-full">
            <div>
                <h2 class="text-3xl text-center text-teal-700 font-semibold mb-1 ml-3" th:text="*{name}"></h2>
                <div class="grid grid-cols-2 pt-4">
                    <div>
                        <h2 class="lg:text-lg text-sm  mb-1 ml-3 font-semibold"
                            th:text="('Category: ' + *{category})"></h2>
                        <h2 class="lg:text-lg text-sm  mb-1 ml-3 font-semibold"
                            th:text="('Price: £' + *{price})"></h2>
                        <h2 class="lg:text-lg text-sm  mb-1 ml-3 font-semibold"
                            th:text="('In Stock: ' + *{inStockNumber} + ' pieces')"></h2>
                        <h2 class="lg:text-lg text-sm  mb-1 ml-3 font-semibold"
                            th:text="('Shipping weight: ' + *{shippingWeight} + 'Kg')"></h2>
                        <h2 class="lg:text-lg text-sm  mb-1 ml-3 font-semibold" th:text="('Active: ' + *{active})"></h2>
                    </div>
                    <div class="text-right">
                        <h1 class="text-sm p-3 pb-1">Quantity</h1>
                        <div th:replace="common/quantity-control :: quntity-control(1, *{id})"></div>

                        <div class="flex  justify-end  grid row gap-3">
                            <span class="text-lg font-semibold text-gray-900" th:text="('£' + *{price})"></span>
                            <a sec:authorize="isAuthenticated()"  th:href="@{/productDetail(id=*{id})}" class="text-white bg-blue-700 hover:bg-teal-500 focus:ring-4 focus:ring-blue-300 font-medium
							rounded-lg text-sm px-5 py-2.5 text-center" id="addToCart">Add To Cart</a>
                            <a sec:authorize="isAnonymous()"  th:href="@{/productDetailS(id=*{id})}" class="text-white bg-blue-700 hover:bg-teal-500 focus:ring-4 focus:ring-blue-300 font-medium
							rounded-lg text-sm px-5 py-2.5 text-center">Add To Cart</a>
                        </div>
                    </div>

                </div>
                <div class="text-sm text-center mt-5">
                    <h2 class="lg:text-lg text-sm mb-1 ml-3 font-semibold">Description</h2>
                    <p
                            th:text="*{description}">
                    </p>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="bg-black hidden bg-opacity-50 absolute inset-0 justify-center
items center grid grid-cols-4 grid-rows-3" id="modal">
    <div class="col-start-2 col-end-4 row-start-2 bg-teal-100 rounded grid grid-rows-3 transition ease-in-out">
        <div class=" flex justify-between p-4 border-b-2 border-teal-500">
            <h3 class="text-lg font-bold">Shopping Cart</h3>
            <svg id="close-dialog" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer hover:bg-teal-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
        <div class="text-sm p-3 grid grid-rows-3 row-start-2 row-end-4" >
            <p class="font-semibold" id="modal-body">
                Item successfully added to the shopping cart.
            </p>
            <div class="row-start-3 flex justify-between">
                <a th:href="@{/searchByCategory(category=${product.category})}" class="flex gap-2 text-teal-900 hover:blue-500" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                    </svg><span>Continue shopping</span></a>
                <a th:href="@{/cart}" class="flex gap-2 text-teal-900 hover:blue-500" >
                    <span>Head To Checkout</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>


</div>
<div th:replace="common/header :: footer"></div>
<script th:inline="javascript">
    let productId = "[[${product.id}]]";
    let csrfHeaderName = /*[[${_csrf.headerName}]]*/ "csrf_header";
    let csrfValue = /*[[${_csrf.token}]]*/ "csrf_value";
    let quantityId = "#quantity" + productId
</script>
<div th:replace="common/header :: body-bottom-scripts"></div>
<script th:src="@{/js/quantity-control.js}"></script>
<script th:src="@{/js/addToCart.js}"></script>
</body>
</html>