<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="pt-3 px-10" th:object="${product}">
	<div class="grid md:grid-cols-2 shadow-lg shadow-teal-400 p-4 rounded-lg border-4 border-solid gap-3">
		<div class=" bg-white rounded-lg border border-teal-200 shadow-md border-solid border-4 h-fit"    >
			<img class="object-cover rounded w-full  lg:h-96"  th:src="@{*{imageUrl}}" th:alt="(*{name} + ' image')"/>
		</div>

		<div class="grid-rows-2 justify-between h-full">
			<div>
				<h2 class="text-3xl text-center text-teal-700 font-semibold mb-1 ml-3" th:text="*{name}"></h2>
				<div>
					<h2 class="text-xl  mb-1 ml-3" th:text="('Category: ' + *{category})"></h2>
					<h2 class="text-xl  mb-1 ml-3" th:text="('Our Price: £' + *{ourPrice})"></h2>
					<h2 class="text-xl  mb-1 ml-3" th:text="('List Price: £' + *{listPrice})"></h2>
					<h2 class="text-xl  mb-1 ml-3" th:text="('In Stock: ' + *{inStockNumber} + ' pieces')"></h2>
					<h2 class="text-xl  mb-1 ml-3" th:text="('Shipping weight: ' + *{shippingWeight} + 'Kg')"></h2>
					<h2 class="text-xl  mb-1 ml-3" th:text="('Active: ' + *{active})"></h2>
				</div>

				<p class="text-sm  mb-1 ml-3" id="description" th:text="*{description}"></p>
			</div>


		</div>
	</div>
</div>

<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>